<!DOCTYPE html>
<html lang="en">

<head>
 {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Keggery</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="{% static 'device-mockups/device-mockups.min.css' %}">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/new-age.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:black;" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top" style="color:white; font-size:55px;" >Keggery</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" style="color:white; font-size:15px;" href="#howItWorks">How It Works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" style="color:white; font-size:15px;" href="#calltoaction">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" style="color:white; font-size:15px; margin-right: 30px" href="#about">Mission</a>
          </li>
            <li class="nav-item" style="margin-right: 15px; padding-bottom:10px;">
                <a href="#calltoaction" class="btn btn-outline btn-l js-scroll-trigger" style="background-color:blue; color:white; ">Pre-order Now</a>
            </li>
            <li class="nav-item">

                <a href="https://docs.google.com/forms/d/18MbtlTYPV6VuoCkfVZ6QeFlI3oKkW1aR8yQUZbDPmSs/edit" class="btn btn-outline btn-l js-scroll-trigger" target="_blank"  style="background-color:blue; color:white; margin-right: 15px">Take our survey</a>
            </li>
        </ul>

      </div>
    </div>
  </nav>

  <header class="masthead" style="background-color:#2d2d2d;">
    <div class="container h-100" style="background-color:#2d2d2d;">
      <div class="row h-100" style="background-color:#2d2d2d;">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-5" style="color:white;">The home pub experience</h1>
            <a href="#calltoaction" class="btn btn-outline btn-xl js-scroll-trigger">Email us!</a>
          </div>
        </div>
        <div class="col-lg-5 my-auto">
          <div class="device-container">

              <img src="{% static 'img/keggle_logo.png' %}" style="max-width:100%; max-height:100%;" class="img-fluid" alt="">

          </div>
        </div>
      </div>
    </div>
  </header>

  <a name="howItWorks"></a>
  <section class="features" id="features">
    <div class="container">
      <div class="section-heading text-center">
        <h2 style="font-size:80px">How it works</h2>
        <hr>
      </div>
      <div class="row">
        <div class="col-lg-5 my-auto">
              <div class="device">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="{% static 'img/Barrel.jpeg' %}" class="img-fluid" style="max-width:100%; max-height:100%;"  alt="">
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>

            </div>
        </div>
        <div class="col-lg-7 my-auto">
          <div class="container-fluid">
            <div class="row h-100">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="text-primary"></i><img src="{% static 'img/tap.png' %}" class="img-fluid" style="max-width:80%; max-height:80%;"  alt="">
                  <p class="text-muted">Lease, buy or use your own beer keg dispenser</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="text-primary"></i>
                  <i class="text-primary"></i><img src="{% static 'img/ke.png' %}" class="img-fluid" style="max-width:150%; max-height:150%;"  alt="">
                  <p class="text-muted">Choose a keg from our selection of craft beers to be delivered</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="text-primary"></i><img src="{% static 'img/beers.png' %}" class="img-fluid" style="max-width:150%; max-height:150%;"  alt="">
                  <i class="text-primary"></i>
                  <p class="text-muted">Enjoy pub-quality draught beer at home</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="text-primary"></i><img src="{% static 'img/returns.png' %}" class="img-fluid" style="max-width:150%; max-height:150%;"  alt="">
                  <i class="text-primary"></i>
                    <p class="text-muted">Return your empty keg and get money off your next order</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <!-- Call to Action -->
  <a name="calltoaction"></a>
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4" style="color:black; padding-bottom:50px;">If you love beer, we'd love to hear from you.</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="Type your email">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
    <!-- About Section-->
  <a name="about"></a>
  <section class="page-section text-white mb-0" id="about" style="background-color:#2d2d2d">
      <div class="container">
          <!-- About Section Heading-->
          <h2 class="page-section-heading text-center text-uppercase text-white">Mission</h2>
          <!-- Icon Divider-->
          <div class="divider-custom divider-light">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-line"></div>
          </div>
          <!-- About Section Content-->
          <div style="text-align:center;">
              <div class="mr-auto" style="text-align:center;"><p class="lead">We love beer. We love pubs. Yet we can’t always go to our favourite establishment for a drink.</p></div>
              <div class="mr-auto" style="text-align:center;"><p class="lead">In 2020, the beer selection is better than ever. Yet cans and bottles don’t beat draught beer.</p></div>
              <div class="mr-auto" style="text-align:center;"><p class="lead">Some great home beer dispensers exist, but they only have mass-market beers on offer. Some great craft beer mini-kegs exist, but they only keep for 2-3 days.</p></div>
              <div class="mr-auto" style="text-align:center;"><p class="lead">We are democratising draught beer by building an innovative beer dispenser alongside a keg marketplace for craft beer. Now anyone can drink pub quality beer whenever they want, wherever they want.</p></div>
              <div class="mr-auto" style="text-align:center;"><p class="lead">No more mass-market beers. No more heavy kegs. No more bottles and cans.</p></div>
              <div class="mr-auto" style="text-align:center;"><p class="lead">Want some #beertech to be proud of? Want your favourite craft beer on tap? Want kegs that last 30 days?</p></div>
              <div class="mr-auto" style="text-align:center;"><p class="lead">Welcome to Keggery! </p></div>

          </div>
      </div>
  </section>

  <section class="cta">
    <div class="cta-content">
      <div class="container">
        <h2>Want to have your say on how we build this?</h2>
        <a href="https://docs.google.com/forms/d/18MbtlTYPV6VuoCkfVZ6QeFlI3oKkW1aR8yQUZbDPmSs" class="btn btn-outline btn-xl js-scroll-trigger">Take this survey.</a>
      </div>
    </div>
    <div class="overlay"></div>
  </section>


  <footer>
    <div class="container">
      <p>&copy; Your Website 2020. All Rights Reserved by Keggery.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="https://www.facebook.com/Keggery-102906888136833">Facebook</a>
        </li>
        <li class="list-inline-item">
          <a href="https://twitter.com/KeggeryBeer">Twitter</a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.instagram.com/keggerybeer/">Instagram</a>
        </li>
      </ul>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/new-age.min.js' %}"></script>

</body>

</html>
